alias awk='gawk'
alias cat='bat'
alias code='code -r'
alias d=docker
alias dotfiles='git --git-dir=$HOME/.dotfiles --work-tree=$HOME'
alias e=nvim
alias g=git
alias ga='git add'
alias gb='git -P branch'
alias gbi='git bisect'
alias gbl='git blame'
alias gc='git commit'
alias gco='git checkout'
alias gcp='git cherry-pick'
alias gd='git diff'
alias gde='git describe'
alias gdt='git difftool'
alias gf='git fetch --all'
alias gg='git grep'
alias gl='git -P log --oneline'
alias gm='git merge'
alias gmt='git mergetool'
alias gp='git push'
alias gpr='git pull'
alias gr='git rebase'
alias grd='git range-diff'
alias gro='git remote'
alias gs='git status'
alias gsl='git -P shortlog'
alias gsm='git submodule'
alias gst='git stash'
alias gsw='git switch'
alias gt='git -P tag'
alias gv='git revert'
alias gw='git worktree'
alias grpc=grpcurl
alias lgit=lazygit
alias kube=kubectl
alias make="gmake"
alias mini=minikube
alias n=npm
alias py=python3
alias q=exit
alias r=ranger
alias tf=terraform
alias y=yarn
alias yarn="yarn -s"
alias google=googler
