alias a=aws
alias aliases="mvim ~/.aliases"
alias b=brew
alias c=clear
alias ctags="`brew --prefix`/bin/ctags"
alias d=docker
alias dc=docker-compose
alias dj=django-admin
alias dot='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'
alias eclim=$ECLIM/eclimd
alias f=fzf
alias g=hub
alias gb='git -P branch'
alias gco='git checkout'
alias gl='git -P log --oneline'
alias gp='git push'
alias gpr='git pull'
alias gs='git status'
alias h=hyperkit
alias i=instruments
alias j=java
alias jc=javac
alias jd=javadoc
alias jh=javah
alias jp=javap
alias k=kubectl
alias liq=liquibase
alias ls=ls -1AG
alias m=mutt
alias mk=minikube
alias n=npm
alias o=open
alias pip=pip3
alias proj='cd ~/Files/Projects/'
alias py=python3
alias q=exit
alias r=ruby
alias ra=rake
alias rl=rails
alias sp=spotify
alias st=speedtest-cli
alias t=tmux
alias tmuxc="mvim ~/.tmux.conf"
alias v=mvim
alias vim=mvim
alias vimrc="mvim ~/.vimrc"
alias y=yarn
alias zshrc="mvim ~/.zshrc"

