alias aliases="mvim ~/.aliases"
alias c=clear
alias ctags="`brew --prefix`/bin/ctags"
alias d=docker
alias dc=docker-compose
alias do='doctl'
alias dot='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'
alias code='code -r'
alias g=hub
alias ga='git add'
alias gb='git -P branch'
alias gbi='git bisect'
alias gbl='git blame'
alias gc='git commit'
alias gco='git checkout'
alias gcp='git cherry-pick'
alias gd='git diff'
alias gde='git describe'
alias gdt='git difftool'
alias gf='git fetch --all'
alias gg='git grep'
alias gl='git -P log --oneline'
alias gm='git merge'
alias gmt='git mergetool'
alias gp='git push'
alias gpr='git pull'
alias gr='git rebase'
alias grd='git range-diff'
alias gro='git remote'
alias gs='git status'
alias gsl='git -P shortlog'
alias gsm='git submodule'
alias gst='git stash'
alias gsw='git switch'
alias gt='git -P tag'
alias gv='git revert'
alias gw='git worktree'
alias hk=hyperkit
alias i=instruments
alias k=kubectl
alias kube=kubectl
alias liq=liquibase
alias m=mvn
alias mk="microk8s kubectl"
alias m8="microk8s"
alias micro="microk8s"
alias mini=minikube
alias n=npm
alias pip=pip3
alias py=python3
alias q=exit
alias rb=ruby
alias rel='. ~/.zshrc'
alias rl=rails
alias sp=spring
alias spc='spring cloud'
alias st=speedtest-cli
alias tf=terraform
alias vimrc='mvim ~/.vimrc'
alias y=yarn
