/**

!.gitconfig
!.gitignore
!.gvimrc
!.tern-project
!.vimrc
!.vuerc
!.xvimrc
!.zshrc
!README.md
!iterm.json
!~/.config/karabiner/karabiner.json
!~/.scripts/*
!~/.vim/UltiSnips/*
!~/.vim/colors/neonchalk.vim

