snippet desc
describe('$1', () => {
	$0
});

endsnippet

snippet test
test('$1', () => {
	$0
});

endsnippet

snippet atest
test('$1', async () => {
	$0
});

endsnippet

snippet doc
/**
 * ${1:TODO: Add documentation}
 */
endsnippet

snippet fc
function

endsnippet

